<h1>Welcome to Donuts and Devs!</h1>
<h2>Click below to view info about donuts or devs.</h2>
<div class="buttonContainer">
  <button onclick="location.href='/donuts'" class="donutButton">
    <a routerLink="/donuts"
      ><span class="material-symbols-outlined"> donut_small </span
      ><br />Donuts</a
    >
  </button>

  <button onclick="location.href='/famouspeople'" class="devButton">
    <a routerLink="/famouspeople"
      ><span class="material-symbols-outlined"> hail </span><br />
      Devs</a
    >
  </button>
</div>
